.tabla tr th, .tabla tr td{
    border: 1px solid !important;
}

th, td{
    padding: 5px !important;
}

.gris{
    background-color: #ccc;
}

.bienes, .usuario{
    border: .5px solid #000;
    background-color: #000;
}

#linea tr td{
    border-top: 1px solid;
}

#linea tr td.none{
    border: none;
}

#linea tr td.yes{
    width: 45%;
}

@page {
    margin: 150px 15px 15px 15px;
}

header {
    position: fixed;
    top: -135px;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    line-height: 35px;
}
